#conteiner{
width: 100%;
height:100%;	
}

.sq{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 33px;
	height: 33px;
	border: 1px solid black;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	}	


#controller{
	margin-left: auto;
	margin-right: auto;

}

#sq0{
		background: #006699	;	
		}

.cont{
	font: Futura PT 300;
	text-align: justify;
	padding: 5px;
	}

.header{
	font: Futura PT 300;
	font-weight: bold;
	color: #3c608b;
}

img {
    width: 100%;
    height: auto;
}

input#ssid{
	background: #4d4f53;
	border: 300px;
	text-align: left;
	padding: 5px;
	color:white;
	width: 110px;
	height: 50px
	
}
input#wifi_password{
	background: #4d4f53;
	color:white;
	border: 5px;
	text-align: left;
	padding: 5px;
	width: 110px;
	height: 50px;
}



