#conteiner{
width: 100%;
height:100%;
}

.sq{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 33px;
	height: 33px;
	border: 1px solid black;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	}


#controller{
	margin-left: auto;
	margin-right: auto;

}

#sq0{
		background: #006699	;
		}

.cont{
	font: Futura PT 300;
	text-align: justify;
	padding: 5px;
	}

.header{
	font: Futura PT 300;
	font-weight: bold;
	color: #3c608b;
}

img {
    width: 100%;
    height: auto;
}

input#ssid{
	background: #4d4f53;
	border: 300px;
	text-align: left;
	padding: 5px;
	color:white;
	width: 110px;
	height: 50px

}
input#wifi_password{
	background: #4d4f53;
	color:white;
	border: 5px;
	text-align: left;
	padding: 5px;
	width: 110px;
	height: 50px;
}

input#myTime{
	text-align: center;;
	padding: 5px;
	width: 395px;
	height: 50px;
}

select#timeZoneSelect{
	padding: 5px;
	width: 395px;
	height: 50px;
}

#saveTimeBTN{
	padding: 5px;
	width: 395px;
	height: 40px;
}

.savepwd{
	padding: 5px;
	width: 395px;
	padding-left: 5px;
	height: 40px;
}
.pwdchangelabel{
	padding: 5px;
	width: 390px;
	height: 40px;
}
#testinput{
	padding: 5px;
	width: 395px;
	height: 40px;
}

/* open_file.php */

.filesButtons{
	width: 55%;
	height: 50px;
	line-height: 20px;
	padding: 1px;
}
.delFilButtons{
	width: 15%;
	height: 50px;
	line-height: 20px;
	padding: 1px;
}
.renameFileBtn{
	width: 15%;
	height: 50px;
	line-height: 20px;
	padding: 1px;
}
.sendFileBtn{
	width: 15%;
	height: 50px;
	line-height: 20px;
	padding: 1px;
}
textarea#send_files_msg{
	resize: none;
	width: 90%;
	height: 320px;
	padding: 5px;
	margin-top: 7px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#sendFileBtn2{
	width: 90%;
	height: 30px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
/* end//// user_options.php */


.panel-body{
  width: 395px;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
    width: 395px;

}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}


/* IMA */
#graph-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 600px;
	position: absolute;
}
.sigma-edge {
	stroke: #14191C;
}
.sigma-node {
	fill: rgba(70,96,189,10.80);
	stroke: #14191C;
	stroke-width: 2px;
}
.sigma-node:hover {
	fill: green;
}
.muted {
	fill-opacity: 0.1;
	stroke-opacity: 0.1;
}
#sidebar {
		bottom: 0;
		right: 0;
		width: 200px;
		height: 150px;
		position: absolute;
		background-color: #999;
		padding: 10px;
	}



/* end */
